[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mpmsim"]
	path = mpmsim
	url = https://github.com/jonesor/mpmsim
[submodule "Rage"]
	path = Rage
	url = https://github.com/jonesor/rage
[submodule "Rcompadre"]
	path = Rcompadre
	url = https://github.com/jonesor/rcompadre
